#generalitatLogo{
    width: 8%;
    margin-left: 20px;
}
body{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}
form{
    border-color: #FFC121;
}
label{
    color: #8E5A00;
}
#bg-image{
    background: url(../images/bg-image.jpg);    
}
nav{
    box-shadow: 3px -5px 7px 10px rgba(0,0,0,0.76);
    -webkit-box-shadow: 3px -5px 7px 10px rgba(0,0,0,0.76);
    -moz-box-shadow: 3px -5px 7px 10px rgba(0,0,0,0.76);
}
.carousel-item img {
    height: 50vh;
    object-fit: cover;
}