*{
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 
        auto 1fr auto;
}


/*
Color principal	Morado intenso	    #7E3FF2   Logo, botones principales, acentos
Secundario 1	Lila claro	        #C7A7FF	  Fondos suaves, resaltes en hover
Secundario 2	Azul grisáceo	    #4C4F69	  Tipografía y bordes
Neutro claro	Gris claro	        #F4F4F6	  Fondo general o secciones secundarias
Neutro oscuro	Gris carbón	        #1E1E2E	  Fondo de encabezado o footer
Complementario	Verde azulado suave	#45D1C5	  Detalles, enlaces o indicadores activos

    Estilos del menú, header.
*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7E3FF2;
}
#tayDevLogo{
    width: 400px;
    height: 100px;
    margin-right: auto;
}
#menu{
    display: flex;
    list-style: none;
    margin-right: 10%;
}
#menu a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding: 42px;
    background-color: #7E3FF2;
}
#menu a:hover{
    background-color: #C7A7FF;
    color: #4C4F69;
}


/*
    Estilos de main, formulario
*/

main{
    display: flex;
    justify-content: space-around;
    background-color: #F4F4F6;
}
h1, h2{
    font-size: 35px;
    text-align: center;
    height: auto;
    width: auto;
}
h2{
    padding: 25px;
    font-size: 25px;
}
.sloganInfo, .informationForm{
    align-content: center;
}
.sloganInfo{
    padding-left: 50px;
    padding-right: 50px;
    max-width: 500px;
}
.informationForm{
    display: inline;
    height: fit-content;
    padding: 25px;
    align-self: center;
    margin-right: 15%;
    background-color: #C7A7FF;
}
.informationForm > h3{
    font-size: 30px;
    align-content: center;
}
.informationForm > #name,
.informationForm > #mail{
    margin: 20px 0px;
    padding: 1px 2px 1px 20px;
}
.informationForm > #message{
    margin: 20px 0px;
    padding: 10px;
    width: 75%;
    background-color: #F4F4F6;
}

button{
    background-color: #7E3FF2;
    border-radius: 5px;
    padding: 5px 12px;
    border-color: #4C4F69;
}


/*
    Estios de footer
*/

footer {
    background-color: #1E1E2E;
    color: #F4F4F6;
}