*{
    padding: 0;
    margin: 0;
}
body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: 
        auto 1fr auto;
}


/*
Color principal	Morado intenso	    #7E3FF2   Logo, botones principales, acentos
Secundario 1	Lila claro	        #C7A7FF	  Fondos suaves, resaltes en hover
Secundario 2	Azul grisáceo	    #4C4F69	  Tipografía y bordes
Neutro claro	Gris claro	        #F4F4F6	  Fondo general o secciones secundarias
Neutro oscuro	Gris carbón	        #1E1E2E	  Fondo de encabezado o footer
Complementario	Verde azulado suave	#45D1C5	  Detalles, enlaces o indicadores activos

    Estilos del menú, header.
*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7E3FF2;
}
#tayDevLogo{
    width: 400px;
    height: 100px;
    margin-right: auto;
}



/*
    Estilos de main, formulario
*/

main{
    display: flex;
    justify-content: space-around;
    background-image: url(../images/background/fondo-landingpage.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
h1, h2{
    font-size: 35px;
    text-align: center;
    height: auto;
    width: auto;
}
h1{
    margin-bottom: 30px;
}
h2{
    padding: 25px;
    font-size: 25px;
}
.sloganInfo, .informationForm{
    align-content: center;
}
.sloganInfo{
    padding-left: 50px;
    padding-right: 50px;
    max-width: 500px;

}
.informationForm{
    display: inline;
    height: fit-content;
    padding: 25px;
    align-self: center;
    margin-right: 15%;
    background-color: #C7A7FF;
    
    border: 2px #7E3FF2;
    border-radius: 10px;
    border-style: solid;
}
.informationForm > h3{
    font-size: 30px;
    align-content: center;
}
.informationForm > #name,
.informationForm > #mail{
    margin: 20px 0px;
    padding: 1px 2px 1px 20px;
    width: 80%;
}
.informationForm > #message{
    margin: 20px 0px;
    padding: 10px;
    width: 80%;
    background-color: #F4F4F6;
}

button{
    background-color: #7E3FF2;
    border-radius: 5px;
    padding: 5px 12px;
    border-color: #1E1E2E;
    color: #F4F4F6;
    font-size: 17px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #1E1E2E;
    width: 100px;
    height: 50px;
}


/*
    Estios de footer
*/

footer {
    display: flex;
    text-decoration: none;
    height: 100px;
    background: linear-gradient(0deg,rgba(30, 30, 46, 1) 0%, rgba(65, 59, 90, 1) 9%, rgba(199, 167, 255, 1) 49%, rgba(244, 244, 246, 1) 100%);;
    color: #F4F4F6;
    justify-content: center;
    align-items: center;
}

.rrssLogos{
    height: 70px;
} 